/**
 * modal_review
 *
 * modal_review
 *
 * @category	chunk
 * @internal	@modx_category Формы
 * @internal	@installset base
 * @internal	@overwrite true
 */
<div class="modal fade" tabindex="-1" role="dialog" id="review">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="#" data-goal="form:review" class="ajax">
				<button type="button" class="close tpl-icon-close" data-dismiss="modal"></button>
				<div class="modal-title">Оставить отзыв</div>
				<div class="modal-body">
					<div class="form-group">
						<textarea name="msg" class="form-control" placeholder="Ваш отзыв *"></textarea>
					</div>
					
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Ваше имя *">
					</div>

					<div class="form-group">
						<input type="text" name="phone" class="mask-phone form-control" placeholder="Контактный телефон *">
					</div>
					
					<div class="text-xs-center">
						<input type="hidden" name="pid" value="[*id*]">
						<input type="hidden" name="formid" value="review">
						<button type="submit" class="btn btn-theme">Отправить</button>
					</div>

					{{policy_note}}
				</div>
			</form>
		</div>
	</div>
</div>

