html {
    font-size: 16px;

    @media (max-width: 991px) {
        font-size: 15px;
    }

    @media (max-width: 767px) {
        font-size: 14px;
    }

    @media (max-width: 576px) {
        font-size: 13px;
    }
}

body {
    letter-spacing: 0.03em;
    font-size: 1.5rem;
    color: #000;
}

.wrap {
    overflow: unset;
}

@media (min-width: 1450px) {
    .container {
        max-width: 1390px;
    }
}

a {
    text-decoration: none;
}

.user-content {
    h3, h2, h1 {

    }
}

.inline-padding {
    display: inline;
    background: @primary_color;
    color: @primary_color_contrast;
    padding: 0.3em 0;

    > span {
        position: relative;
        background: @primary_color;
        left: 1.2em;
        padding: 0.3em 0;

        > span {
            position: relative;
            left: -0.6em;
            background: @primary_color;
            z-index: 1;

            * {
                display: inline;
            }
        }
    }
}

.page-title {
    font: normal 3.25rem/0.9 @primary_font;
    margin: 0 0 3rem;

    @media (max-width: 767px) {
        font-size: 2.25rem;
    }
}

.breadcrumbs {
    margin-top: -3rem;
    margin-bottom: 3rem;
    font-size: 0.875rem;
    color: #777;

    a {
        color: #777;
    }

    .separator {
        margin: 0 0.25rem;
    }
}

.blocks-container {
    display: table;
    width: 100%;

    > div {
        display: table-cell;
        vertical-align: top;
    }
}

.socials {
    a {
        display: inline-block;
        margin: 0 0.5rem;
        width: 2.6875rem;
        height: 2.6875rem;
        color: #000;
        border-radius: 50%;
        font-size: 2.6275rem;
        line-height: 2.6875rem;
        text-align: center;
        vertical-align: top;
        padding-right: 0.1rem;
        text-decoration: none;

        &.tpl-icon-social-vkontakte {
            padding-top: 0.1rem;
        }
    }
}

.fixed-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: ~"calc(100% + 200px)";
    background: rgba(0,0,0,0.3);
    z-index: 948;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.fixed-menu {
    position: fixed;
    left: -470px;
    top: 0;
    height: ~"calc(100% + 200px)";
    width: 100%;
    max-width: 420px;
    background: #fff;
    z-index: 949;
    transition: all 0.2s ease;
    padding: 0 1.5rem 200px;
    overflow: auto;

    .container-fluid {
        padding: 0;
    }

    .search-form {
        margin: 1rem 0;
        position: relative;

        .form-control {
            background: #dcdcdc;
            border: 0;
            border-radius: 0;
            padding: 1rem 15px;
        }

        button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 0 15px;
            background: transparent;
            border: 0;
            cursor: pointer;
            font-size: 1.25rem;
        }
    }

    .menu {
        font-size: 1.5rem;

        ul {
            margin: 0 0 3rem;
            padding: 0;
            list-style: none;

            li {
                margin: 0;
                padding: 0;
                border-bottom: 1px solid #ccc;
                font-weight: normal;

                a {
                    display: block;
                    padding: 1.5rem 0;
                }
            }
        }
    }

    .phone-block {
        display: inline-block;

        .tapable-phone {
            font-size: 1.25rem;
        }

        .callback {
            font-size: 0.875rem;
        }
    }

    .socials {
        a {
            margin-left: 0;
        }
    }

    @media (max-width: 567px) {
        .search-form {
            margin-left: -15px;
            margin-right: -15px;
        }

        .menu {
            ul {
                li {
                    a {
                        padding: 3vh 0;
                    }
                }
            }
        }
    }

    @media (max-width: 450px) {
        .search-form {
            margin-top: 0;
        }
    }
}

.head-placeholder {
    margin: 0 0 3rem;
}

.phone-block {
    text-align: center;
    font-size: 1rem;
    transition: color 0.3s ease;

    .tapable-phone {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.head {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 950;
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
    height: 70px;
    display: flex;
    align-items: center;

    a {
        text-decoration: none;
    }

    .left-column {
        position: absolute;
        left: 15px;
        top: 0;
        width: auto;
        height: 69px;
        display: flex;
        align-items: center;
    }

    .right-column {
        position: absolute;
        right: 15px;
        top: 0;
        height: 69px;
        display: flex;
        align-items: center;
    }

    .logo {
        text-align: center;

        a {
            display: block;
            position: relative;
            text-decoration: none !important;
            vertical-align: top;
        }

        img, svg {
            max-height: 50px;
            transition: opacity 0.3s ease;
            display: block;
        }

        svg {
            path {
                transition: fill 0.3s ease;
            }
        }

        .white {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }

    .toggle-menu {
        position: relative;
        display: inline-block;
        padding: 0.75rem 1.5rem;
        font-size: 2rem;
        cursor: pointer;
        z-index: 1;

        i {
            transition: all 0.2s ease;
        }

        .tpl-icon-close {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
        }
    }

    .minicart {
        display: inline-block;
        vertical-align: middle;
        position: relative;

        .tpl-icon-cart {
            padding: 0.75rem;
            font-size: 2rem;
        }

        .count {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 0.15em;
            font-size: 60%;
            font-weight: bold;
        }
    }

    .toggle-search {
        vertical-align: middle;
        display: inline-block;
        padding: 0.75rem;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.2s ease;

        .tpl-icon-search {
            display: block;
        }
    }

    @media (max-width: 991px) {
        .phone-block {
            display: none;
        }
    }

    @media (max-width: 767px) {
        .socials {
            display: none;
        }

        .toggle-menu {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }

    @media (max-width: 576px) {
        height: 35px;

        .left-column, .right-column {
            height: 34px;
        }

        .toggle-menu {
            padding-top: 0;
            padding-bottom: 0;
            font-size: 1.875rem;
        }

        .minicart {
            margin-right: -0.5rem;

            .tpl-icon-cart {
                padding: 0 0.5rem;
                font-size: 1.875rem;
            }
        }


        .logo {
            svg, img {
                max-height: 15px;
                max-width: ~"calc(100vw - 130px)";
            }
        }
    }
}

.menu-opened {
    overflow: hidden;

    .head {
        .toggle-menu {
            .tpl-icon-menu {
                opacity: 0;
            }

            .tpl-icon-close {
                opacity: 1;
            }
        }

        .logo {
            .white-logo {
                opacity: 0;
            }

            .black-logo {
                opacity: 1;
            }
        }

        @media (max-width: 576px) {
            background: #fff;
            color: #000;

            .logo {
                a {
                    color: #000;
                }
            }
        }
    }

    .fixed-overlay.toggle-menu {
        opacity: 1;
        pointer-events: initial;
    }

    .fixed-menu {
        left: 0;
    }
}

.footer {
    background: #2d2d2d;
    color: #fff;
    padding: 3.5rem 0 5rem;

    a {
        color: #fff;
    }

    .menu {
        max-width: 700px;

        ul {
            margin: 0 0 -3rem;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                width: 25%;
                margin: 0 1rem 3rem 0;
                padding: 0;
            }
        }
    }

    .socials {
        text-align: center;
        margin-top: 1rem;

        a {
            color: #fff;
        }
    }

    .policy {
        font-size: 70%;
        margin: 2rem 0;
    }

    @media (max-width: 767px) {
        padding: 1rem 0;

        .phone-block {
            float: right;

            .callback {
                display: none;
            }
        }

        .socials {
            text-align: left;
            margin-left: -0.5rem;
        }

        .menu {
            ul {
                margin: 1rem 0 0;

                li {
                    width: auto;
                    margin: 0;
                    padding: 1rem 0;
                    display: none;
                    border-top: 1px solid #fff;
                    font-size: 1.75rem;

                    &:first-child, &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
    }

    @media (max-width: 575px) {
        .phone-block {
            .tapable-phone {
                font-size: 1.375rem;
            }
        }
    }
}

.main-page {
    .wrap {
        padding-bottom: 0;
    }

    .head-placeholder {
        margin: 0;
    }

    .head {
        border-bottom: 0;

        .socials {
            display: none;
        }
    }

    .fullscreen-slider {
        .slide {
            min-height: 100vh;
            display: flex;
            position: relative;

            .slide-background {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 50s linear;
            }

            .slide-inner {
                position: relative;
                z-index: 1;
                text-align: center;
                padding: 6rem 0 5rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .text {
                    display: inline-block;
                    font: normal 3rem/1.1 @primary_font;
                    color: #000;
                    padding: 0 15px;
                    max-width: 900px;

                    @media (max-width: 1450px) {
                        max-width: 650px;
                    }

                    @media (max-width: 1200px) {
                        max-width: 500px;
                        font-size: 2.5rem;
                    }

                    @media (max-width: 991px) {
                        max-width: 50%;
                        font-size: 2rem;
                    }

                    @media (max-width: 767px) {
                        max-width: 90%;
                        font-size: 2.5rem;
                        margin: 0;
                    }
                }

                .glowing {
                    text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 7rem #fff, 0 0 3rem #fff, 0 0 7rem #fff, 0 0 3rem #fff, 0 0 7rem #fff, 0 0 0.5rem #fff;
                }

                .shadow {
                    text-shadow: 0 0 1rem #000, 0 0 3rem #000, 0 0 7rem #000, 0 0 3rem #000, 0 0 7rem #000, 0 0 3rem #000, 0 0 7rem #000, 0 0 0.5rem #000;
                    color: #fff;
                }
            }

            &.animated {
                .slide-background {
                    transform: scale(1.4);
                }
            }

            &.static {
                .slide-background {
                    transition: none !important;
                }
            }

            &[data-invert="1"] {
                .slide-inner {
                    .text {
                        color: #fff;
                    }
                }
            }
        }

        .video-btn {
            position: absolute;
            left: 50%;
            bottom: 4.125rem;
            transform: translateX(-50%);
            z-index: 1;
            text-align: center;

            a {
                display: inline-block;
                border: 1px solid #fff;
                padding: 3rem 0;
                color: #fff;
                text-decoration: none;
                font-size: 3rem;
                width: 23rem;
                max-width: 90%;
            }

            @media (max-height: 600px) {
                bottom: 1rem;

                a {
                    padding: 7vh 0;
                }
            }
        }
    }

    .search-form-wrap {
        position: fixed;
        right: 1rem;
        top: 70px;
        background: #fff;
        padding: 1.5rem;
        margin: 0;
        width: 300px;
        transition: all 0.2s ease;
        pointer-events: none;
        opacity: 0;

        .search-form {
            margin: 0;
        }
    }

    @media (max-width: 767px) {
        .head {
            .container {
                max-width: 100%;
            }
        }
    }

    @media (min-width: 768px) {
        .head {
            .toggle-menu {
                display: none;
            }
        }

        .fixed-menu {
            left: 0;
            right: 0;
            background: transparent;
            width: 100%;
            height: 0;
            max-width: none;
            overflow: visible;
            padding: 0 !important;
            font-size: 1.5rem;
            z-index: 951;

            .container-fluid {
                padding: 0 ~"max(15px, 2vw)";
                height: 0;
            }

            .phone-block, .socials {
                display: none;
            }

            .menu {
                height: 100vh;
                width: 0;
                padding: 7rem 0;
                display: flex;
                align-items: center;

                ul {
                    white-space: nowrap;
                    margin: 5rem 0 0;

                    li {
                        border: 0;

                        a {
                            color: #000;
                            padding: 2vh 0;
                        }
                    }
                }
            }
        }

        .footer {
            background: transparent;
            position: relative;
            z-index: 1;
            padding: 0;
            height: 0;

            .container {
                position: relative;
                height: 0;
            }

            .menu, .phone-block {
                display: none;
            }

            .socials {
                position: absolute;
                bottom: 1rem;
                right: 15px;

                a {
                    margin-bottom: 3rem;
                }
            }

            .policy {
                position: absolute;
                bottom: 2rem;
                left: 0;
                right: 0;
                height: 0;
                margin: 0;
                font-size: 0.75rem;
                text-align: center;
            }

            a {
                color: #000;
            }
        }

        &.inverted-slide:not(.menu-opened) {
            .fixed-menu {
                .menu {
                    ul li a {
                        color: #fff;
                    }
                }
            }

            .footer {
                a {
                    color: #fff;
                }
            }
        }
    }

    @media (min-width: 576px) {
        .head {
            background: transparent;
            transition: background 0.2s ease;
        }

        &.menu-opened {
            .head {
                background: #fff;
            }
        }

        &.inverted-slide:not(.menu-opened) {
            .head {
                .logo {
                    svg {
                        path {
                            fill: #fff;
                        }
                    }

                    img {
                        &.colored {
                            opacity: 0;
                        }

                        &.white {
                            opacity: 1;
                        }
                    }
                }

                .phone-block, .phone-block a, .toggle-menu i, .toggle-search, .minicart a {
                    color: #fff;
                }
            }
        }
    }

    &.search-opened {
        .search-form-wrap {
            opacity: 1;
            pointer-events: initial;
        }
    }
}

.categories-list {
    @media (max-width: 575px) {
        margin: 0 -15px 3.5rem;
        overflow-x: auto;

        .items {
            white-space: nowrap;
            padding: ~"calc(15px - 0.5rem)";

            li {
                padding: 0 0.5rem;
                width: 27vw;
            }

            a {
                display: block;
                position: relative;
            }

            .image {
                display: block;
                padding-bottom: 100%;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 0 1rem;
            }

            .title {
                white-space: normal;
                text-align: center;
                display: block;
                width: 100%;
                padding: 0 1rem;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }

    @media (min-width: 576px) {
        margin: 0 0 2rem;
        font-size: 1.25rem;

        .items {
            max-width: 900px;
            margin: 0 -0.75em;

            li {
                margin: 0 3rem 1.25rem 0;
            }

            .image {
                display: none;
            }

            .title {
                display: inline-block;
                vertical-align: top;
                padding: 0.25em 0.75em;
                border-radius: 50em;
                transition: all 0.2s ease;
            }

            a:hover {
                .title {
                    background: #e6e6e6;
                }
            }
        }
    }
}

.products-list {
    .items {
        margin: 0 -0.875rem 0;

        > li {
            padding: 0 0.875rem 3rem;
            width: 25%;
        }
    }

    @media (max-width: 1200px) {
        .items {
            > li {
                width: 33.333%;
            }
        }
    }

    @media (max-width: 767px) {
        .items {
            > li {
                width: 50%;
            }
        }
    }

    @media (max-width: 500px) {
        .items {
            margin: 0 -0.5rem 0;

            > li {
                width: 50%;
                padding: 0 0.5rem 1.25rem;

                &.big {
                    width: 100%;
                }
            }
        }
    }
}

.product-item {
    display: block;
    font-size: 1.5rem;
    position: relative;

    span {
        display: block;
    }

    .image {
        margin: 0 0 1.5rem;
        position: relative;

        span {
            padding-bottom: 125%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .item-preview {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: all 0.2s ease;
        }
    }

    > a {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .preview-slider {
        .slick-track, .slick-list {
            height: 100%;
        }

        .slick-dots {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex !important;

            > li {
                display: inline-block;
                height: 3px;
                flex: 1 1 auto;
                width: 5%;

                &.slick-active {
                    background: @primary_color;
                }
            }
        }
    }

    .preview-video {
        iframe, video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    &:hover {
        .image {
            .item-preview {
                opacity: 1;
            }
        }
    }

    @media (max-width: 500px) {
        font-size: 1rem;

        .image {
            margin-bottom: 0.5rem;
        }

        .tvco-var {
            margin: 0 1rem 0 0;
        }
    }
}

.product-page {
    .product-columns {
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }

    .product-images {
        margin: 0 0 3rem;
        float: right;
        width: 58.333%;
        padding-left: 15px;

        .slide {
            margin: 0 0 2rem;

            .image {
                display: block;
            }

            img {
                width: 100%;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media (max-width: 767px) {
            margin-bottom: 2rem;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            float: none;
            width: auto;
            padding-left: 0;

            .slide {
                display: inline-block;
                vertical-align: top;
                margin: 0 1rem 0 0;

                img {
                    max-width: none;
                    width: auto;
                    height: 20rem;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .product-info {
        font: 16px/1.4 @primary_font;
        font-size: 1.875rem;
        margin: 0 0 3rem;
        width: 41.666%;
        padding-right: 15px;
        position: sticky;
        top: 5.5rem;

        .page-title {
            margin-bottom: 1rem;

            + .breadcrumbs {
                margin-top: -1rem;
            }
        }

        .price {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .accordeon {
            border-top: 1px solid #6c6c6c;
            margin-top: 4rem;
            margin-left: -15px;

            .item {
                border-bottom: 1px solid #6c6c6c;
                padding: 0.75rem 0 0.75rem 15px;

                .title {
                    cursor: pointer;
                    position: relative;
                }

                .tpl-icon-arrow-down-o {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.2s ease;
                }

                .user-content {
                    padding-top: 1rem;
                    font-size: 1rem;
                }

                &.active {
                    .tpl-icon-arrow-down-o {
                        transform: translateY(-56%) rotate(180deg);
                    }
                }
            }
        }

        @media (max-width: 1450px) {
            font-size: 1.5rem;

            .page-title {
                margin-top: 0;
            }
        }

        @media (max-width: 991px) {
            font-size: 1.25rem;

            .page-title {
                font-size: 3rem;
            }

            .accordeon {
                margin-top: 2rem;
            }
        }

        @media (max-width: 767px) {
            position: static;
            top: auto;
            padding-right: 0;
            width: auto;

            .accordeon {
                clear: both;
            }

            .price-row {
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                background: #ccc;
                display: flex;
                align-items: center;
                padding: 1rem;
                z-index: 10;

                .price {
                    margin: 0;
                    font-size: 2rem;
                }

                .btn {
                    margin-left: auto;
                    font-size: 1.75rem;
                }
            }
        }
    }

    .related-title {
        font-family: @primary_font;
        font-weight: normal;
        font-size: 2.25rem;
        margin: 0 0 2rem;

        @media (max-width: 575px) {
            font-size: 1.75rem;
        }
    }
}

.tvco {
    margin-bottom: 0.5rem;

    .tvco-var {
        margin: 0 0.5rem 0 0;
        display: inline-block;
        vertical-align: top;

        .tvco-title {
            margin: 0 0 0.5rem;
            font-size: 1rem;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 1rem;

            > li {
                margin: 0;
                padding: 0 0.5rem 0.5rem 0;
                display: inline-block;
                vertical-align: top;
            }

            input {
                display: none;
            }

            label {
                margin: 0;
                display: block;
                cursor: pointer;
            }

            span, img {
                display: block;
                border: 2px solid #ddd;
                line-height: ~"calc(2rem - 4px)";
                height: 2rem;
            }

            span {
                padding: 0 0.25rem;
                min-width: 2rem;
                text-align: center;
            }

            input:checked {
                + span {
                    background-color: #666;
                    border-color: #666;
                    color: #fff;
                }

                + img {
                    border-color: #666;
                }
            }
        }
    }
}

.get-back {
    white-space: nowrap;
    margin-top: -3rem;
    margin-bottom: 1rem;

    .get-back-fixed {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        background: #fff;
        padding: 1rem 0;
    }

    .tpl-icon-arrow-long-left {
        font-size: 150%;
        line-height: 1px;
        vertical-align: middle;
    }

    span {
        vertical-align: middle;
    }

    a {
        text-decoration: none;

        &:hover {
            span {
                text-decoration: underline;
            }
        }
    }
}

.pagination {
    text-align: center;
    display: block;

    > * {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    .current {
        margin: 0 2rem;
    }

    .btn {
        font-size: 1.5rem;
    }

    span.btn {
        opacity: 0.7;
        pointer-events: none;
    }

    @media (max-width: 575px) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;

        .btn {
            width: ~"calc(50% - 2rem)";
            margin: 0 1rem;
        }

        .current {
            order: -1;
            width: 100%;
            margin: 0 0 1rem;
        }
    }

    @media (max-width: 400px) {
        .btn {
            font-size: 1.25rem;
            padding: 1rem 0;
        }
    }
}

.catalog-download {
    position: fixed;
    right: 0;
    top: 50%;
    transform: rotate(-90deg) translateX(65%);
    transform-origin: 100% 100%;
    background: #000;
    color: #fff !important;
    text-decoration: none !important;
    padding: 0 1rem;
    height: 2.75rem;
    line-height: 2.75rem;
    z-index: 100;
    white-space: nowrap;

    &:before, &:after {
        content: '';
        position: absolute;
        left: -1rem;
        top: 0;
        border-top: 2.75rem solid transparent;
        border-right: 1rem solid #000;
    }

    &:after {
        left: auto;
        right: -1rem;
        border-left: 1rem solid #000;
        border-right: 0;
    }

    @media (max-width: 575px) {
        right: auto;
        left: 50%;
        top: auto;
        bottom: 0;
        transform: translateX(-50%);
    }
}

.review-item {
    margin: 0 0 2rem;
    padding: 0 0 2rem;
    border-bottom: 1px solid #ddd;

    .title {
        font-weight: bold;
        font-size: 1.75rem;
        margin: 0 0 1rem;
    }

    .user-content {
        > :last-child {
            margin-bottom: 0;
        }
    }
}

.reviews-list {
    margin: 0 0 3rem;

    .pagination {
        display: block;
        text-align: center;
    }
}

.panel {
    background: #fff;
    box-shadow: 0 0.75rem 1.25rem 0 rgba(0,0,0, 0.05);
    padding: 1.5rem 2rem;
    margin: 0 0 1rem;

    .panel-header {
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1.5rem;
    }

    @media (max-width: 575px) {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.cart-item {
    font-size: 1rem;
    display: flex;
    position: relative;
    margin: 0 0 3rem;

    .tpl-icon-close {
        position: absolute;
        padding: 1rem;
        right: -1rem;
        top: -1rem;
        cursor: pointer;
    }

    .item-info {
        margin: 0 0 0 1rem;
    }

    .title {
        margin: 0 0 0.5rem;
    }

    .item-price {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 0 0.5rem;
    }

    .item-chars {
        display: flex;

        > div {
            &:not(:last-child) {
                padding-right: 1rem;
                margin-right: 1rem;
                border-right: 1px solid #ddd;
            }
        }

        .value {
            margin-top: 0.5rem;
            font-size: 1.5rem;
            line-height: 2rem;

            img {
                max-width: 2rem;
                max-height: 2rem;
            }
        }
    }

    .item-count {
        .count-input {
            margin-top: 0.5rem;
            position: relative;

            input {
                height: 2rem;
                width: 70px;
                text-align: center;
            }

            button {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                border: 0;
                background: transparent;

                &:last-child {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}

.cart-page {
    .cart-bottom {
        display: flex;
        align-items: center;

        .btn {
            margin-left: auto;
        }
    }
}

.order-form {
    .table {
        td {
            padding-left: 0;
            font-size: 1rem;

            &:last-child {
                padding-right: 0;
            }
        }

        tr {
            &:first-child {
                td {
                    border-top: 0;
                    padding-top: 0;
                }
            }

            &:last-child {
                td {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }
    }

    .btn {
        margin: 1rem 0;
        width: 100%;
    }

    .policy-note {
        font-size: 1rem;
    }
}

.faq-items {
    .item {
        border-bottom: 2px solid @primary_color;
        padding: 2rem 0 0.5rem;
        overflow: hidden;
        color: @primary_color;
        font-size: 1.5rem;
        line-height: 1.08;

        .question {
            font-weight: bold;
            letter-spacing: -0.04em;
            position: relative;
            padding-right: 3rem;
            margin: 0 0 1.5rem;

            .title {
                text-transform: uppercase;
            }

            i {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }

        .answer {
            padding: 0 9%;
            border-top: 2px solid @primary_color;

            .text {
                padding: 1.5rem 0;
            }
        }

        .toggle {
            cursor: pointer;
        }

        &:last-child {
            border-bottom: 0;
        }

        &.active {
            .question {
                border-color: @primary_color_hover;
                color: @primary_color_hover;
            }
        }

        @media (max-width: 575px) {
            border-bottom-width: 1px;
            padding: 20px 0 0;

            .question {
                font-size: 1.5rem;
            }

            .answer {
                border-top-width: 1px;
                padding: 0;
                font-size: 1.25rem;

                .text {
                    padding: 20px 0;
                }
            }
        }
    }
}

.contacts-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;

    .item {
        background: #fff;
        box-shadow: 0 0 1.25rem 0 rgba(0,0,0, 0.15);
        padding: 7% 9%;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title {
            font-size: 1.75rem;
            font-weight: bold;
            margin: 0 0 3%;
        }

        .user-content {
            flex-grow: 1;
        }

        .btn {
            margin-top: 3%;
        }
    }

    &.single {
        display: block;

        .item {
            box-shadow: none;
            padding: 0;
        }

        .btn {
            display: none;
        }
    }
}

.filters {
    margin-bottom: 4rem;

    .eFiltr_cat {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.875rem 0;
    }

    .filters-form {
        .container {
            padding-top: 3rem;
        }
    }

    .filter-option {
        width: 25%;
        padding: 0 0.875rem 1rem;
    }

    .filter-name {
        font-size: 1.25rem;
        margin: 0 0 1.75rem;
    }

    .fltr_block_interval {
        .filter-option-body {
            position: relative;
        }

        .labels {
            display: flex;
            font-size: 0.875rem;
            color: #ccc;
            padding-bottom: 0.25rem;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;

            div {
                width: 50%;
            }
        }

        input {
            width: 50%;
            border: 1px solid #c0c0c0;
            border-radius: 3px 0 0 3px;
            font-size: 14px;
            padding: 6px;
            vertical-align: top;

            + input {
                border-radius: 0 3px 3px 0;
            }
        }
    }

    .checks {
        font-size: 0.875rem;

        label {
            margin: 0 0.5rem 0.5rem 0;
            white-space: nowrap;

            input {
                vertical-align: top;
                margin: 0;
            }

            span {
                vertical-align: middle;
                display: inline-block;
                margin-left: 0.5rem;
            }
        }
    }

    .fltr_block13 {
        input {
            display: none;
        }

        img {
            width: 14px;
            height: 14px;
            border-radius: 2px;
        }

        :checked + span {
            img {
                box-shadow: 0 0 0 1px #000;
            }
        }
    }

    @media (min-width: 576px) {
        border-top: 1px solid #e6e6e6;
        position: relative;

        .filters-form {
            height: 0;
            overflow: hidden;
        }

        .toggle-filters {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
            background: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 50em;
            font-size: 1.25rem;
            padding: 0.25em;
            width: 180px;
            text-align: center;
            cursor: pointer;

            i {
                display: inline-block;
                width: 0;
                color: #e6e6e6;
                position: relative;
                left: 0.25rem;
                font-size: 80%;
            }
        }
    }

    @media (max-width: 1200px) {
        .filter-option {
            width: 33.333%;
        }
    }

    @media (max-width: 767px) {
        .filter-option {
            width: 50%;
        }
    }

    @media (max-width: 575px) {
        position: fixed;
        right: -470px;
        top: 0;
        height: ~"calc(100% + 200px)";
        width: 100%;
        max-width: 420px;
        background: #fff;
        z-index: 949;
        transition: all 0.2s ease;
        padding: 0 1.5rem 200px;
        overflow: auto;

        .container {
            padding: 0;
        }

        .filters-form {
            .container {
                padding-top: 5rem;
                position: relative;
            }

            .toggle-filters {
                position: absolute;
                top: 4rem;
                right: 0;
                cursor: pointer;
                margin: 0 -1rem 0 0;
                padding: 1rem;
            }
        }

        .filter-option {
            width: 100%;
            margin-bottom: 2rem;
        }

        .filter-name {
            font-size: 20px;
        }

        .checks {
            font-size: 14px;
        }
    }
}

.filters-opened {
    @media (min-width: 576px) {
        .filters-form {
            height: auto;
        }

        .toggle-filters {
            i:before {
                display: inline-block;
                transform: rotate(180deg);
            }
        }
    }

    @media (max-width: 575px) {
        overflow: hidden;

        .fixed-overlay.toggle-filters {
            opacity: 1;
            pointer-events: initial;
        }

        .filters {
            right: 0;
        }
    }
}

.toastify {
    background: #2d2d2d;
    font-size: 1.25rem;

    .toast-close {
        margin-left: 0.5rem;
    }
}

.list {
    .list-item {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin: 0 auto 3rem;
        padding-top: 4rem;
        min-height: 570px;
        text-decoration: none;

        .item-image {
            width: 100%;
            max-width: 860px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

        .item-block {
            width: ~"calc(100% - 770px)";
            min-width: 22.5rem;
            position: relative;
            box-shadow: 0 0 1.25rem 0 rgba(0,0,0,.16);
            padding: 4% 5.4%;
            background: #fff;
            color: #1d1d1b;

            .item-title {
                font-size: 3rem;
                font-weight: 700;
                line-height: 1.04em;
                color: #3b3b3b;
                margin-bottom: 2rem;
            }

            .user-content {
                margin: 1.5rem 0;
            }
        }

        &:nth-child(2n) {
            .item-image {
                left: unset;
                right: 0;
            }
        }

        &:nth-child(2n-1) {
            .item-block {
                margin-left: auto;
            }
        }
    }

    @media (max-width: 991px) {
        .list-item {
            flex-direction: column;
            min-height: unset;
            margin-bottom: 15px;
            padding-top: 0;

            .item-image {
                position: static;
                max-width: unset;

                &:before {
                    content: '';
                    display: block;
                    padding-bottom: 66%;
                }
            }

            .item-block {
                padding: 20px;
                min-width: unset;
                width: 100%;

                .item-title {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                .user-content {
                    font-size: 14px;
                    line-height: 1.4em;
                    margin-bottom: 0;
                }

                .btn {
                    display: none;
                }
            }
        }

        .pagination {
            margin-top: 3rem;
        }
    }
}

.page-features {
    margin: 2.5rem 0;

    .items {
        margin: 0 -0.5rem -1rem;

        > li {
            width: 33.333%;
            padding: 0 0.5rem 1rem;

            @media (max-width: 500px) {
                width: 50%;
            }

            @media (max-width: 380px) {
                width: 100%;
            }
        }
    }

    .item {
        .icon {
            width: 4rem;
            height: 4.25rem;
            margin: 0 0 0.75rem;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .title {
            font-size: 1.125rem;
            font-weight: bold;
            margin: 0 0 0.75rem;
        }
    }
}

.page-gallery {
    margin: 2.5rem 0;

    .items {
        margin: 0 -0.325rem;

        > li {
            width: 33.333%;
            padding: 0 0.325rem;
            margin: 0 0 0.65rem;
        }
    }

    img {
        width: 100%;
    }

    a {
        display: block;
        color: #333;
        text-decoration: none;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: url(../images/zoom.png) center no-repeat rgba(0,0,0,0.2);
            z-index: 1;
            opacity: 0;
            transition: all 0.3s ease;
        }

        &:hover:after {
            opacity: 1;
        }
    }

    &.landscape-1, &.default-1 {
        .items {
            > li {
                width: 100%;
            }
        }
    }

    &.landscape-2, &.default-2, &.portrait-2 {
        .items {
            > li {
                width: 50%;
            }
        }
    }

    &.default-3, &.portrait-3 {
        .items {
            > li {
                width: 33.333%;
            }
        }
    }
}

.partners {
    margin: 2.5rem 0;

    .slick {
        padding: 0 3rem;
        position: relative;

        .ctrl {
            position: absolute;
            left: 0;
            top: 50%;
            font-size: 1.5rem;
            line-height: 3rem;
            height: 3rem;
            width: 3rem;
            text-align: center;
            margin-top: -1.5rem;
            text-decoration: none;
            color: @primary_color;

            &.next {
                left: auto;
                right: 0;
            }
        }

        .slide {
            min-height: 6.25rem;
            white-space: nowrap;
            text-align: center;
            padding: 0 0.5rem;

            &:before {
                content: '';
                width: 0;
                height: 6.25rem;
                vertical-align: middle;
                display: inline-block;
            }

            img {
                vertical-align: middle;
                display: inline-block;
                max-width: 100%;
            }
        }
    }
}



