.modal {
    .close {
        right: 1rem;
        top: 1rem;
        opacity: 1;
    }

    .modal-content {
        padding: 2.5rem;
    }

    .modal-dialog {
        width: 47rem;
    }

    .modal-body {
        padding: 3rem 0 0;
        max-width: 550px;
        margin: 0 auto;
    }

    .modal-title {
        font-size: 3rem;
        line-height: 1;
        font-weight: bold;
        text-align: center;
        padding: 1rem 0 0;
    }

    .form-group {
        margin: 0 0 1.75rem;
    }

    .form-control {
        font-size: 1.8125rem;
        padding: 1.25rem 2rem;
    }

    .file-upload {
        label {
            padding: 0.5rem 0;
        }

        .wi-group {
            padding-left: 3rem;
        }
    }

    &#response {
        .modal-body {
            padding: 0 2rem 0 0;
        }
    }

    &.fullwidth {
        .modal-dialog {
            width: 100%;
        }

        .modal-content {
            padding: 0;
        }
    }

    &#contactmap {
        .frame {
            position: relative;
            min-height: 500px;
            height: 70vh;

            > * {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }


    @media (max-width: 575px) {
        &:before {
            content: none;
        }

        .modal-dialog {
            margin: 0;
            max-width: none;
            width: 100%;
        }

        .modal-content {
            min-height: 100vh;
        }

        .modal-title {
            padding: 0;
            font-size: 2rem;
        }

        .form-control {
            font-size: 1.25rem;
        }

        .policy-note {
            font-size: 1rem;
        }

        .file-upload {
            font-size: 1rem;
        }
    }
}



