.form-group {
    .notice {
        > div {
            font-size: 1.5rem;
        }
    }
}

.form-content {
    padding: 2rem;

    .form-title {
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.btn {
    font: 30px/1.2 @primary_font;
    font-size: 1.875rem;
    border-radius: 0;
    border: 0;
    padding: 0.375em 1em;
    transition: all 0.2s ease;

    &.btn-sm {
        font-size: 1.25rem;
        border-radius: 50em;
        padding: 0.25em 1em;
    }

    &.btn-theme {
        background: #2d2d2d;
        color: #fff;

        &:hover {
            background: #000;
        }
    }

    &.btn-theme-hollow {
        box-shadow: 0 0 0 1px #e6e6e6 inset;
        color: #2d2d2d;

        &:hover {
            box-shadow: 0 0 0 1px #2d2d2d inset;
            background: #2d2d2d;
            color: #fff;
        }
    }

    @media (max-width: 767px) {
        font-size: 1.25rem;
    }
}

.checkbox-wrap {
    position: absolute;
    left: 0;
    top: -0.15em;

    .checkbox {
        position: relative;
        display: block;
        width: 2rem;
        height: 2rem;
        border: 1px solid #000;
    }

    input {
        display: none;

        &:checked {
            + .checkbox {
                &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 0.75rem;
                    height: 0.75rem;
                    border-radius: 50%;
                    background: #000;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.policy-note {
    font-family: @primary_font;
    font-size: 1.5rem;
    margin-top: 1.5rem;

    label {
        position: relative;
        padding-left: 3rem;
    }
}
