@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/akrobat-bold.eot');
    src: url('../fonts/akrobat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat-bold.woff2') format('woff2'),
         url('../fonts/akrobat-bold.woff') format('woff'),
         url('../fonts/akrobat-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/akrobat-regular.eot');
    src: url('../fonts/akrobat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat-regular.woff2') format('woff2'),
         url('../fonts/akrobat-regular.woff') format('woff'),
         url('../fonts/akrobat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/akrobat-semibold.eot');
    src: url('../fonts/akrobat-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat-semibold.woff2') format('woff2'),
         url('../fonts/akrobat-semibold.woff') format('woff'),
         url('../fonts/akrobat-semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/akrobat-light.eot');
    src: url('../fonts/akrobat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat-light.woff2') format('woff2'),
         url('../fonts/akrobat-light.woff') format('woff'),
         url('../fonts/akrobat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'tplicons';
  src:  url('../fonts/tplicons.eot?2eqdzk');
  src:  url('../fonts/tplicons.eot?2eqdzk#iefix') format('embedded-opentype'),
    url('../fonts/tplicons.ttf?2eqdzk') format('truetype'),
    url('../fonts/tplicons.woff?2eqdzk') format('woff'),
    url('../fonts/tplicons.svg?2eqdzk#tplicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tpl-icon-"], [class*=" tpl-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tplicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tpl-icon-social-facebook-o:before {
  content: "\e900";
}
.tpl-icon-social-instagram-o:before {
  content: "\e901";
}
.tpl-icon-social-vkontakte-o:before {
  content: "\e902";
}
.tpl-icon-social-facebook:before {
  content: "\e912";
}
.tpl-icon-social-instagram:before {
  content: "\e913";
}
.tpl-icon-social-odnoklassniki:before {
  content: "\e914";
}
.tpl-icon-social-vkontakte:before {
  content: "\e915";
}
.tpl-icon-social-youtube:before {
  content: "\f167";
}
.tpl-icon-long-arrow-left:before {
  content: "\e905";
}
.tpl-icon-long-arrow-right:before {
  content: "\e910";
}
.tpl-icon-arrow-left-o:before {
  content: "\e909";
}
.tpl-icon-arrow-right-o:before {
  content: "\e90f";
}
.tpl-icon-arrow-down-o:before {
  content: "\e904";
}
.tpl-icon-arrow-up-o:before {
  content: "\e906";
}
.tpl-icon-arrow-left:before {
  content: "\e908";
}
.tpl-icon-arrow-right:before {
  content: "\e90e";
}
.tpl-icon-arrow-up:before {
  content: "\e90c";
}
.tpl-icon-arrow-down:before {
  content: "\e90d";
}
.tpl-icon-search:before {
  content: "\e907";
}
.tpl-icon-cart:before {
  content: "\e90a";
}
.tpl-icon-close:before {
  content: "\e903";
}
.tpl-icon-menu:before {
  content: "\e90b";
}
.tpl-icon-plus:before {
  content: "\e911";
}
.tpl-icon-minus:before {
  content: "\e916";
}
.tpl-icon-attach:before {
  content: "\e801";
}
.tpl-icon-play:before {
  content: "\e802";
}


